/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
}

/* left Size logo and name */

.logoAndName {
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.logoRV {
  width: 45px;
  height: 45px;
  margin-block: 11.5px;
  border-radius: 360%;
}
.logoAndName h3 {
  margin-left: 10px;
  font-family: Nautigal, serif;
  font-size: 42px;
  font-weight: normal;
}
/* Normal Navigation */
nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  font-size: 24px;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: white;
}
li {
  margin: 20px 50px;
  white-space: nowrap;
}
ul a:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

/* Mobile Navigation */
.menuIcon {
  color: white;
  font-size: 35px;
  margin: 15px 35px 0 0;
  right: 0;
  position: absolute;
  z-index: 200;
  cursor: pointer;
}
.mobileNavigation {
  display: none;
}
.mobileNavigation ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  right: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  z-index: 100;
}
.mobileNavigation ul li {
  border-bottom: 1px solid rgb(72, 69, 69);
  /* width: 100%; */
}

/* Responsivity */

@media only screen and (max-width: 820px) {
  li {
    margin: 20px 25px;
  }
}
@media only screen and (max-width: 650px) {
  .mobileNavigation {
    display: flex;
  }
  .normalNavigation {
    display: none;
  }
  .logoAndName h3 {
    display: none;
  }
  .logoAndName {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 300px) {
  .menuIcon {
    margin: 15px 15px 0 0;
  }
}
