.about {
  background-image: url("../assets/aboutImg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto !important;
  min-height: 110vh;
  color: white;

  padding: 80px 10px 25px;
}

.aboutContainer {
  position: relative;
  top: 75px;
  padding: 25px;
}

.aboutTitle {
  margin: 25px auto;
}

.aboutDescription {
  max-width: 780px;
  margin: 10px auto;
  line-height: 125%;
}

@media only screen and (max-height: 400px) {
  .aboutDescription {
    padding: 10px 10px 35px;
    height: 145px;
  }
}
