.contact {
  background: rgba(0, 0, 0, 0.5) url("../assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto !important;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken;
}

.contact--title {
  margin-bottom: 25px;
}

.contacts {
  margin-top: 35px;
  color: white;
  font-size: 24px;
}

.icon {
  margin: auto 15px auto 0;
  font-size: 24px;
}

.boxs {
  padding: 10px;
}

.box {
  display: flex;
  margin: 10px 0;
  font-size: 24px;
}

.box a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-height: 400px) {
  .contacts {
    margin-top: 75px;
  }
}
