.contact {
  background: rgba(0, 0, 0, 0.5) url("../assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken;
}

.contact--title {
  margin-bottom: 25px;
}

.contacts {
  color: white;
  font-size: 24px;
  /* position: relative;
  bottom: 10%;
  background-color: rgba(255, 255, 255, 0.423);
  border-radius: 25px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 45px 65px; */
}

.icon {
  margin-right: 15px;
  font-size: 24px;
}

.box {
  display: flex;
  margin: 10px 0;
  font-size: 24px;
}

.box a {
  color: white;
  text-decoration: none;
}
