.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
}

.leftSize {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.leftSize a {
  display: flex;
  align-items: center;
}

.logoRV {
  width: 45px;
  height: 45px;
  border-radius: 360%;
}
a h3 {
  margin-left: 10px;
}

nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  font-size: 24px;
  text-transform: uppercase;
}

li {
  margin: 20px 50px;
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  color: white;
}

ul a:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 800px) {
  li {
    margin: 20px 20px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 650px) {
  li {
    margin: 20px 20px;
    font-size: 24px;
    white-space: nowrap;
  }

  a h3 {
    display: none;
  }
  .leftSize {
    margin-left: 35px;
  }
}
@media only screen and (max-width: 500px) {
  .leftSize {
    margin-left: 10px;
  }
}
