/* Wine.jsx */

.container {
  background-image: url("../assets/contimg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  padding-top: 110px;
}

.wineContainer {
  background-color: white;
  max-width: 960px;
  margin: 0 10px;
  position: relative;
  top: 10%;
  border-radius: 25px;
  border-bottom: 2px solid black;
  padding: 20px 0;
}

.redContainer {
  margin-top: 10px;
}

.wineNameHeader {
  margin: 25px 35px;
  border-bottom: 1px solid black;
  text-align: start;
  font-size: 28px;
}

/* WineSceleton.jsx */

.topLine {
  display: flex;
  justify-content: space-between;
  margin: 10px 35px;
}

.wineDescription {
  /* max-width: 90%; */
  text-align: start;
  margin: 0 35px 5px;
  padding: 0 0 10px;
}
